---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <script type="text/javascript">
            var host = "{{ site.url | remove: "https://" }}";
            if ((host == window.location.host) && (window.location.protocol != "https:")) {
                window.location.protocol = "https";
            }
        </script>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ site.name }}</title>
    {% if site.description != "" %}
        <meta name="description" content="{{ site.description | markdownify | strip_html }}" />
    {% endif %}
        <link rel="canonical" href="{{ site.url }}" />
        <link rel="alternate" href="/links.atom" title="Feed" type="application/atom+xml" />
    {% if site.use_css == true %}
        <link rel="stylesheet" type="text/css" href="/static/css/skeleton.min.css?v=noraleway" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/typefaces/css/fonts.css" media="deferred" onload="if(media!='all')media='all'" />
        <noscript><link rel="stylesheet" type="text/css" href="/static/typefaces/css/fonts.css" media="all" /></noscript>
    {% endif %}
    </head>
    <body>
        <main role="main" class="container">
            <header {% if site.use_css == true %}class="one-half columns" style="margin-top: 5%" {% endif %}role="banner">
                <h1>{{ site.name }}</h1>
            </header>

            <nav class="twelve columns" role="navigation">
                <ul>
                {% for link in site.data.links %}
                    <li><time datetime="{{ link.date | date: "%Y-%m-%d" }}" is="time-ago" title="{{ link.date | date: "%Y-%m-%d" }}">{{ link.date | date_to_string }}</time> <span><a href="{{ link.url }}">{{ link.title | markdownify | strip_html }}</a></span></li>
                {% endfor %}
                </ul>
            </nav>
        </main>
    </body>
    <script type="text/javascript" src="/static/js/fontfaceobserver.js"></script>
    <script type="text/javascript">
        var raleway300 = new FontFaceObserver("Raleway", {"weight": 300}),
            raleway400 = new FontFaceObserver("Raleway", {"weight": 400}),
            raleway600 = new FontFaceObserver("Raleway", {"weight": 600});

        Promise.all([
            raleway300.check(),
            raleway400.check(),
            raleway600.check()
        ]).then(function() {
            document.documentElement.className += "fonts-loaded";
        });
    </script>
{% if site.ga != "UA-XXXXXXXX-Y" %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga("create", "{{ site.ga }}", "{{ site.url | remove: "https://" }}");
        ga("set", "anonymizeIp", true);
        ga("set", "forceSSL", true);
        ga("send", "pageview");
    </script>
{% endif %}
    </body>
</html>
