---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="X-Frame-Options" content="deny" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ site.name }}</title>
    {% if site.description != "" %}
        <meta name="description" content="{{ site.description | markdownify | strip_html }}" />
    {% endif %}
        <link rel="canonical" href="{{ site.url }}" />
        <link rel="alternate" href="/feed.atom" title="Feed" type="application/atom+xml" />
    {% if site.use_css == true %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha384-wKclsw1inR27tF/KhTEhyufz5SmBKSkOaIEKhq9qu8QbqeaMhzuGtCQmrghNKXq0" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" />
    {% endif %}
    </head>
    <body>
        <header role="banner">
            <h1>{{ site.name }}</h1>
        </header>

        <main role="main">
            <ul>
            {% for link in site.data.links %}
                <li><time datetime="{{ link.date | date: "%Y-%m-%d" }}" is="time-ago" title="{{ link.date | date: "%Y-%m-%d" }}">{{ link.date | date_to_string }}</time> <span><a href="{{ link.url }}">{{ link.title | markdownify | strip_html }}</a></span></li>
            {% endfor %}
            </ul>
        </main>
    {% if site.ga != "UA-XXXXXXXX-Y" %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga("create", "{{ site.ga }}", "{{ site.url }}");
            ga("set", "anonymizeIp", true);
            ga("set", "forceSSL", true);
            ga("send", "pageview");
        </script>
    {% endif %}
    </body>
</html>
